.select {
    border: 1px solid #7e8082;
    background-color:inherit;
    font-family:'Open Sans' sans-serif;
    color: inherit;
    height:35px;
}

.option {
    color:inherit;
    background-color: inherit;
}
