.select {
    border: 1px solid #7e8082;
    // background-color: #ffffff;
    background-color:inherit;
    font-family:'Open Sans' sans-serif;
    // color: #4b4e53;
    color: inherit;
    height:35px;
}

